.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 400 2rem/2.6rem 'EB Garamond', serif;
    white-space: nowrap;
    padding: 1.9rem 2.7rem;
    overflow: hidden;
    border-radius: 0;
    transition: all 0.3s ease-out;
    position: relative;
    border: none;
    color: $black;
    background: $primary;
    overflow: hidden;
    &:hover{
        color: $black;
        background: $primary - 20;
        .btn__before, .btn__after{
            &:before, &:after{
                width: 50%;
                height: 50%;
            }
        }
    }
    &__before, &__after{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            height: 1.2rem;
            width: 1.2rem;
            top: 0;
            left: 0;
            transition: all 0.5s ease-out;
        }
        &:before{
            border-left: 1px solid $black;
        }
        &:after{
            left: auto;
            right: 0;
            border-right: 1px solid $black;
        }
    }
    &__before{
        &:before, &:after{
            border-top: 1px solid $black;
        }
    }
    &__after{
        &:before, &:after{
            top: auto;
            bottom: 0;
            border-bottom: 1px solid $black;
        }
    }
    &:disabled, &.disabled{
        cursor: default;
        pointer-events: none;
        background: gray + 30;
        color: gray;
    }
    &_transparent{
        background: transparent;
    }
    &_bordered{
        border: 1px solid $black;
        background: rgba($primary, 0.75);
        &:hover{
            background: $primary;
        }
    }
    &_square{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 17.6rem;
        white-space: normal;
        padding: 1.5rem;
        @include bp(lg){
           min-height: 14rem;
        }
        @include bp(sm){
            min-height: 17.6rem;
         }
         @include bp(xs){
            min-height: 14rem;
         }
        .btn__before, .btn__after{
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            &:before, &:after{
                height: 3.1rem;
                width: 3.1rem;
            }
        }
    }
    &_size{
        &-xs{
            padding: 1.1rem 3.42rem;
        }
        &-sm{
           padding-left: 1.8rem;
           padding-right: 1.8rem;
           min-width: 18.8rem;
        }
        &-md{
            min-width: 20.5rem;
        }
        &-lg{
            min-width: 22.4rem;
        }
    }
}


