.footer{
    border-top: 1px solid rgba($black,0.2);
    margin-top: auto;
    padding-top: 4rem;
    @include bp(md){
    }
    &-nav{
        .nav-list__item{
            margin-right: 3.35rem;
            padding: 1.2rem 0;
        }
        .circle-arrow{
            top: -0.1rem;
        }
    }
    &__phone{
        margin: 0.5rem 0 0;
        @include bp(sm){

        }
    }
    &__social-list{
        margin: 0.3rem 0 0 4rem;
    }
    &__bottom{
        border-top: 1px solid rgba($black,0.2);
    }
}

