.header{
    margin-bottom: 14.3rem;
    position: relative;
    font-family: 'EB Garamond';
    font-size: 1.8rem;
    &__info{
        background: #fff;
        padding: 0.7rem 0 0.9rem 1.7%;
        line-height: 1.7rem;
        @include bp(sm){
            font-size: 1.2rem;
            line-height: 1.6rem;
            padding: 0.6rem 0 0.7rem 0;
            .circle-arrow{
                margin: -0.1rem 0 0 0.7rem;
            }
        }
    }
    &__top{
        width: 42.5%;
        padding: 1.6rem 0 1.2rem;
        border-bottom: 1px solid rgba($black, 0.2);
    }
}
.logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 2.3rem;
    width: 15.1rem;
    margin: 0 auto;
    &:hover{opacity: 0.7;}
}
.social-list{
    margin-top: 0.1rem;
    &__item{
        &:not(:first-child){
            margin-left: 1.2rem;
        }
        &:hover{
            opacity: 0.7;
        }
    }
}
.gift{
    margin-right: 9.6%;
}
.navbar{
    padding: 2.2rem 0;
}
.nav{
    &-list{
        &__item{
            @include bp(lg-up){
                &:not(:first-child){
                    margin-left: 4.05rem;
                }
                &:hover{
                    &>.nav-list__dropdown-menu{
                        display: block;
                        height: auto!important;
                    }
                    &>.dropdown-toggle{
                        color: $primary;
                        &::after{opacity: 0;}
                        &::before{opacity: 1;}
                    }
                }
            }
            @include bp(lg){
                margin-right: 2rem;
            }
            @include bp(md){
                margin-right: 0;
                padding: 0;
            }
        }
        &__link{
            font-size: 1.6rem;
            line-height: 2.1rem;
            text-transform: uppercase;
            display: inline-flex;
            &.active{
                color: $primary - 80;
            }
            @include bp(lg){
                
            }
            @include bp(md){
                
            }
        }
    }
}
.dropdown-link{
    margin-bottom: 1.4rem;
    &:hover{
        color: $black;
    }
    &__image{
        min-width: 5rem;
        flex-shrink: 0;
        margin-right: 0.9rem;
        display: flex;
        justify-content: center;
    }
    &__title{
        margin: 0 auto 0.1rem 0;
        min-height: 4rem;
    }
    &__price{
        white-space: nowrap;
        margin: 0 0 2.2rem 2rem;
    }
    .circle-arrow{
        flex-shrink: 0;
        margin-bottom: 2.2rem;
    }
}
.btn-menu{
    display: block;
    border: none;
    align-self: center;
    background: none;
    flex-shrink: 0;
    &__item{
        display: block;
        width: 2rem;
        height: 0.2rem;
        border-top-style: 5px;
        background: #fff;
        transition: all 0.3s ease-out;
    }
    &__item+&__item{
        margin-top: 0.5rem;
    }
    &:hover{
        .btn-menu__item{
            background: $primary;
        }
    }
}
