.icon{
    background-repeat: no-repeat;
    background-size: contain!important;
    background-position: 0 0;
    display: inline-block;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
}
.icon-time{
    background-image: url(../img/icons/time.svg);
}
.icon-pin{
    background-image: url(../img/icons/pin.svg);
}
.icon-metro{
    background-image: url(../img/icons/metro.svg);
}
.icon-phone{
    background-image: url(../img/icons/phone.svg);
}
.icon-telegram{
    background-image: url(../img/icons/telegram.svg);
}
.icon-instagram{
    background-image: url(../img/icons/instagram.svg);
}
.icon-facebook{
    background-image: url(../img/icons/facebook.svg);
}
.icon-instagram_lg{
    background-image: url(../img/icons/instagram.svg);
    width: 3.2rem;
    height: 3.2rem;
}
.icon-whatsapp{
    background-image: url(../img/icons/whatsapp.svg);
}
.icon-gift{
    background-image: url(../img/icons/gift.svg);
}
.icon-caret{
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.4rem;
    background-image: url(../img/icons/caret.svg);
    transition: all 0.3s ease-out;
}
.icon-caret.show, .show>.icon-caret{
    transform: rotate(180deg);
}
.icon-arrow-next{
    width: 9.3rem;
    height: 0.9rem;
    background-image: url(../img/icons/arrow-next.svg);
}
.icon-arrow-prev{
    width: 9.3rem;
    height: 0.9rem;
    background-image: url(../img/icons/arrow-prev.svg);
}
.icon-arrow-next_sm{
    width: 4.5rem;
    height: 0.9rem;
    background-image: url(../img/icons/arrow-next_sm.svg);
    margin-left: 1.4rem;
}
.icon-arrow-prev_sm{
    width: 4.5rem;
    height: 0.9rem;
    background-image: url(../img/icons/arrow-next_sm.svg);
    transform: rotate(180deg);
}
.icon-shield{
    background-image: url(../img/icons/shield.svg);
}
.icon-scissors{
    background-image: url(../img/icons/scissors.svg);
}
.icon-cup{
    background-image: url(../img/icons/cup.svg);
}
.icon-money{
    background-image: url(../img/icons/money.svg);
}
.icon-{
    width: rem;
    height: rem;
    background-image: url(../img/icons/.svg);
}






.icon-{
    width: rem;
    height: rem;
    background-image: url(../img/icons/.svg);
}
.icon-{
    width: rem;
    height: rem;
    position: relative;
    &:hover{
        &:before{opacity: 0;}
        &:after{opacity: 1;}
    }
    &:before, &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: 0 0;
        background-repeat: no-repeat;
        transition: all 0.3s ease-out;
    }
    &:before{
        background-image: url(../img/icons/.svg);
    }
    &:after{
        opacity: 0;
        background-image: url(../img/icons/-primary.svg);
    }
}
a:hover>.icon-, .active>.icon-{
    &:before{opacity: 0;}
    &:after{opacity: 1;}
}