a{
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: $black;
    &:hover{
        color: $primary - 80;
    }
}
.link_underline{
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
.ms{
    &_1{
        margin-left: 0.4rem;
    }
}
.me{
    &_1{
        margin-right: 0.4rem;
    }
    &_2{
        margin-right: 0.8rem;
    }
}
.mb{
    &_xs{
        margin-bottom: 2.4rem;
        @include bp(sm){
            margin-bottom: 1.2rem;
        }
    }
    &_sm{
        margin-bottom: 3.1rem;
        @include bp(sm){
            margin-bottom: 1.55rem;
        }
    }
    &_md{
        margin-bottom: 5.6rem;
        @include bp(sm){
            margin-bottom: 2.8rem;
        }
    }
    &_lg{
        margin-bottom: 6.5rem;
        @include bp(sm){
            margin-bottom: 3.25rem;
        }
    }
    &_xl{
        margin-bottom: 8rem;
        @include bp(sm){
            margin-bottom: 4rem;
        }
    }
    &_xxl{
        margin-bottom: 12.4rem;
        @include bp(sm){
            margin-bottom: 6.2rem;
        }
    }
}
.mt{
    &_xs{
        margin-top: 2.4rem;
    }
    &_sm{
        margin-top: 3rem;
    }
    &_md{
        margin-top: 5.6rem;
    }
    &_lg{
        margin-top: 6.5rem;
    }
    &_xl{
        margin-top: 8rem;
    }
    &_xxl{
        margin-top: 12.4rem;
    }
}
.title{
    &_size{
        &-xs{
            
        }
        &-sm{
            
        }
        &-md{
            font: 400 4rem/5.2rem 'EB Garamond', serif;
            @include bp(sm){
                font-size: 3rem;
                line-height: 4rem;
            }
        }
        &-lg{
            font: 400 4.8rem/6.3rem 'EB Garamond', serif;
            letter-spacing: 0.48rem;
            @include bp(sm){
                font-size: 4rem;
                line-height: 5rem;
            }
        }
        &-xl{
            
        }
    }
    &__icon{
        margin-left: 2.4rem;
    }
}
.text{
    // size
    &_size{
        &-xs{
            
        }
        &-sm{
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
        &-md{
            font-size: 1.8rem;
            line-height: 2.7rem;
        }
        &-lg{
            font-size: 2rem;
            line-height: 3rem;
        }
        &-xl{
            
        }
    }
    // colors
    &_primary{
        color: $primary;
    }
    &_light{
        color: rgba($black, 0.7);
    }
    &_success{
        color: $success;
    }
    &_warning{
        color: $warning;
    }
    &_danger{
        color: $danger;
    }
    // weight
    &_bold{
        font-weight: 700;
    }
    // alignment
    &_center{
        text-align: center;
        &_sm{
            @include bp(sm){
                text-align: center;
            }
        }
    }
    &_left{
        text-align: left!important;
    }
    &_right{
        text-align: right!important;
    }
    &_styling{
        font-family: 'EB Garamond', serif;
    }
    &_upper{
        text-transform: uppercase;
    }
}

