
@import 'fonts';
@import 'reset';
@import 'mixin';
@import 'variables';
@import 'vendor';
@import 'icons';
@import 'buttons';
@import 'typography';






body{
    font: 300 1.6rem/2.4rem 'Helvetica Neue', sans-serif;
    color: $black;
    background: #fff;

    @include bp(md){

    }
    @include bp(sm){

    }

    &.overflow-none{
        overflow: hidden;
        @include bp(xl-up){
            padding-right: 1.7rem;
            .header{
                margin-right: 1.7rem;
            }
        }
    }
}
.wrap{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    width: 100%;
    @include bp(xxl-up){
        max-width: 1246px;
    }
}

.pos-rel{
    position: relative;
    z-index: 1;
}
.img-fluid{
    display: block;
    max-width: 100%;
}
.bg{
    &_primary{
        background: $primary;
    }
}
.w-100{
    width: 100%!important;
    &_lg{
        @include bp(lg-up){
            width: 100%;
        }
    }
    &_md{
        @include bp(md){
            width: 100%;
        }
    }
    &_sm{
        @include bp(sm){
            width: 100%;
        }
    }
}
.row{
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    @include bp(sm){
        margin-left: -1rem;
        margin-right: -1rem;
    }
    & > *{
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        @include bp(sm){
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    &_lg{
        @include bp(xl-up){
            margin-left: -3.7rem;
            margin-right: -3.7rem;
            & > *{
                padding-left: 3.7rem;
                padding-right: 3.7rem;
            }
        }
    }
}


// swiper
.swiper{
    &-pagination{
        font-family: 'EB Garamond';
        font-size: 32px;
        line-height: 42px;
        position: static;
        letter-spacing: -0.3rem;
        @include bp(sm){
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: -0.1rem;
        }
    }
    &-btn{
        &:hover, &.swiper-button-disabled{
            opacity: 0.5;
        }
    }
    &-button-prev, &-button-next{
        position: static;
        margin: 0;
        &:after{
            display: none;
        }
    }
    &-nav{
        margin: 2.9rem 0 0;
    }
}

// pagination
.pagination{
    margin-top: 6.5rem;
    margin-left: -0.7rem;
    margin-right: -0.7rem;
    @include bp(md){
        margin: 3.1rem 0 3.9rem;
    }
    &__item{
        margin: 0 0.4rem;
    }
    &__link{
       display: flex;
       width: 6.4rem;
       height: 6.4rem;
       align-items: center;
       justify-content: center;
       background:  #F3EFEA;
       @include bp(xs){
            width: 4rem;
            height: 4rem;
        }
       &:hover, &.active{
        background: #E6E1DC;
        color: $black;
       }
    }
    .icon:hover, .icon.disabled{
        opacity: 0.5;
    }
    &__dots{
        width: 6.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include bp(xs){
            width: 3rem;
        }
    }
}



@import 'form';
@import 'header';
@import 'home';
@import 'stock';
@import 'footer';
@import 'branch';
@import 'contacts';
@import 'about';
@import 'vacancies';
@import 'news';







